
body{
	background: #FFE640 url("img/Background.png") repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
}
div.TitleCard{
	position: absolute;
	display: inline-block;
	background: #272727 url("img/ProfPic.png") no-repeat;
	margin: auto;
	border: 5px;
	border-style: outset;
	border-color: #E9E900;
	border-radius: 2ex;
	padding: 0 0 0 0;
	top: 4ex;
	left: 25%;
	width: 50%;
	height: 15ex;
}
div.TitleCard p{
	position: absolute;
	display: inline-block;
	color: #FFFF75;
	left: 10ex;
	top: 1ex;
	float: left;
	text-shadow: 1px 1px grey;
}
div.TitleCard img{
	position: absolute;
	display: inline-block;
	top: -0.4ex;
	width: 8ex;
	height 8ex;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div.SideMenu{
	position: static;
	max-width: 15ex;
}
div.SideMenu li{
	color: pink;
	background: yellow;
	border: 2px solid red;
	border-radius: 2px;
	margin: 3px;
	font-size: 16px;
}

div.Content{
	position: absolute;
	top: 20ex;
}
p.class1 {
	position: relative;
	float: left;
	margin: 0 0 0 0;
	top: 50px;
	left 20px;
	color: blue;
	border: 2px;
	text-shadow: 1px 1px grey;
	line-height: 4px;
}

