
body{
	background: #FFE640 url("img/Background.png") repeat-x;
	font-family: Verdana, Arial, Sans-Serif;
}
div.TitleCard{
	position: absolute;
	display: inline-block;
	background: #272727 url("img/ProfPic.png") no-repeat;
	margin: auto;
	border: 5px;
	border-style: outset;
	border-color: #E9E900;
	border-radius: 2ex;
	padding: 0 0 0 0;
	top: 4ex;
	left: 25%;
	width: 50%;
	height: 15ex;
}
div.TitleCard p{
	position: absolute;
	display: inline-block;
	color: #FFFF75;
	left: 10ex;
	top: 1ex;
	float: left;
	text-shadow: 1px 1px grey;
}
div.TitleCard img{
	position: absolute;
	display: inline-block;
	top: -0.4ex;
	width: 8ex;
	height 8ex;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div.SideMenu{
	z-index: 1;
	position: fixed;
	display: block;
	top: 10ex;
	max-width: 15ex;
}
div.SideMenu li{
	list-style-type: none;
	color: #757300;
	background: #C6C400;
	border: 2px solid #E9E900;
	border-radius: 3px;
	padding: 7px;
	margin: 5px;
	font-size: 16px;
}

div.Content{
	position: absolute;
	display: inline;
	border: 2px solid #545300;
	border-radius: 3px;
	top: 20ex;
	left: 15%;
	background: #242300;
	margin: auto;
	width: 70%;
	height: auto;
}
.class1 {
	content: "";
	clear: both;
	display: table;
	margin: 1px;
	top: 50px;
	left 20px;
	color: #A09E00;
	border: 2px;
	text-shadow: 1px 1px #545300;
	line-height: 2px;
}

